{% extends 'weather/basic.html'%}

{% block body %}
<div class="help">
    <h3>Why the site isn't working?</h3>
    <p>
        Try checking your network connection; try refreshing your browser again, if the problem stays kindly mail us at
        luciferhere39@gmail.com we apologise for any inconvenience
    </p>
    <h3>Why is the forecast wrong?</h3>

    <p>
        As predictions of future events, weather forecasts always have a certain margin of error and may vary from
        source to
        source. We use previously collected data of 30 days as our set, and as with any other weather forecast, we
        cannot
        guarantee that it is correct or predicts the same weather as other forecasts.
    </p>

    <h3>
        How often is the forecast updated?</h3>
    <p> The weather forecast is updated every day. Our weather data provider, Visualcrossing, uses its own forecasting
        models, which means that there can be a difference between their forecast and forecasts provided by other
        sources.
    </p>

    <h3>
        How accurate is the weather forecast?</h3>

    <p>
        As predictions of future events, weather forecasts always have a certain margin of error and may vary somewhat
        from
        one source to another.
        Our forecasts are updated every day, but it takes about 30 minutes to get all the information over to our
        website.
        During that period, forecasts can combine the previous and the new ones. If you notice a weather forecast that
        is
        repeatedly incorrect, please let us know at luciferhere39@gmail.com.

        The time has the wrong format. How do I change between the 24-hour and AM/PM clock?
        Our system only supports a 12-hour (am/pm) clock format currently. Sorry for the inconvenience it will be added
        in
        further updates.
    </p>
    <h3>
        Why aren't the states included?</h3>
    <p>
        Our database of locations includes the Indian states currently, and we are working on adding this data in the
        future, thanks for understanding.
    </p>
</div>
{% endblock %}